/* color 4B622D E2D578 font-weight: 300 (light), 400 (book), 500 (medium), 700 (bold) */

* {
  font-family: gill-sans-nova, sans-serif;
  font-style: normal;
}

.columns-0 {
  padding: 0;
}

.columns-1 {
  padding: 3px;
}

.columns-2 {
  padding: 4px;
}

#header {
  height: 260px;
  background-color: #4b622d;
  position: relative;
}

.vertical-line-1 {
  height: 255px;
  width: 2px;
  background-color: #e2d578;
  position: absolute;
  top: 5px;
  left: 5px;
}

.vertical-line-2 {
  height: 255px;
  width: 2px;
  background-color: #e2d578;
  position: absolute;
  top: 5px;
  right: 5px;
}

.nav-links {
  font-size: 12px;
  font-weight: 400;
  color: #e2d578;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 10px;
}

.nav-links:hover {
  color: #fff;
}

.hr-divider-1 {
  border-width: 2px;
  color: #e2d578;
  opacity: 100%;
  margin: 5px;
}

.main-logo {
  height: 125px;
  margin-top: 10px;
}

.wheat-icon-1 {
  height: 50px;
  margin-top: 75px;
}

.header {
  font-size: 26px;
  font-weight: 500;
  color: #e2d578;
  line-height: 26px;
}

.wheat-icon-2 {
  height: 80px;
}

#contact {
  font-size: 22px;
  font-weight: 500;
  color: #4b622d;
  margin-bottom: 25px;
  text-decoration: none;
}

.contact {
  font-size: 22px;
  font-weight: 700;
}

#carousel-1 {
  margin-top: 25px;
}

.hr-divider-2 {
  width: 0;
  border-width: 0;
  color: #4b622d;
  opacity: 100%;
  margin-top: 0;
}

.hr-divider-3 {
  width: 0%;
  border-width: 0;
  color: #4b622d;
  opacity: 100;
  margin: 0;
}

#carousel-3 {
  margin-bottom: 25px;
}

#footer {
  height: 95px;
  background-color: #4b622d;
  position: relative;
}

.nav-bottom {
  margin-top: 15px;
}

.vertical-line-3 {
  height: 45px;
  width: 2px;
  background-color: #e2d578;
  position: absolute;
  top: 0;
  left: 5px;
}

.vertical-line-4 {
  height: 45px;
  width: 2px;
  background-color: #e2d578;
  position: absolute;
  top: 0;
  right: 5px;
}

.hr-divider-4 {
  border-width: 2px;
  color: #e2d578;
  opacity: 100%;
  margin: 5px;
}

#copyright {
  font-size: 12px;
  font-weight: 300;
  color: #e2d578;
  padding-top: 0px;
}

#about {
  font-size: 22px;
  font-weight: 500;
  color: #4b622d;
  margin-top: 50px;
  margin-bottom: 35px;
}

.facebook {
  color: #4b622d;
  /* text-decoration: none; */
}

.facebook:hover {
  color: #e2d578;
  cursor: pointer;
}

#photos {
  font-size: 22px;
  font-weight: 500;
  color: #4b622d;
  margin-top: 25px;
  margin-bottom: 25px;
}

.chase-img {
  height: 250px;
  /* border: 5px solid #4b622d; */
  border-radius: 50%;
}

#photos p {
  margin-top: 10px;
}

#contact {
  font-size: 22px;
  font-weight: 500;
  color: #4b622d;
  padding: 50px 0;
  margin-bottom: 25px;
}

.email {
  color: #4b622d;
  /* text-decoration: none; */
}

.email:hover {
  color: #e2d578;
  cursor: pointer;
}

/* media quieries */
/* extra small is default (375px) */
/* Small devices (tablets, 576px and up) */
@media only screen and (min-width: 576px) {
}

/* desktop screens */
/* medium devices (laptops, 768px and up) */
@media only screen and (min-width: 768px) {
  .columns-1 {
    padding: 6px;
  }

  .columns-2 {
    padding: 8px;
  }

  #header {
    height: 365px;
  }

  .vertical-line-1 {
    height: 350px;
    top: 15px;
    left: 15px;
  }

  .vertical-line-2 {
    height: 350px;
    top: 15px;
    right: 15px;
  }

  .nav-links {
    font-size: 14px;
    margin: 0 15px;
  }

  .hr-divider-1 {
    margin: 15px;
  }

  .main-logo {
    height: 175px;
    margin-top: 45px;
  }

  .wheat-icon-1 {
    height: 85px;
    margin-top: 100px;
  }

  .header {
    font-size: 32px;
  }

  .wheat-icon-2 {
    height: 115px;
  }

  #contact {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .contact {
    font-size: 32px;
  }

  #carousel-1 {
    margin-top: 50px;
  }

  .hr-divider-2 {
    width: 100%;
    border-width: 20px;
    margin-top: 15px;
  }

  .hr-divider-3 {
    width: 98%;
    border-width: 20px;
    margin: 8px 0;
  }

  #carousel-3 {
    margin-bottom: 75px;
  }

  #footer {
    height: 125px;
  }

  .vertical-line-3 {
    height: 65px;
    top: 0;
    left: 15px;
  }

  .vertical-line-4 {
    height: 65px;
    top: 0;
    right: 15px;
  }

  .hr-divider-4 {
    border-width: 2px;
    color: #e2d578;
    opacity: 100%;
    margin: 25px 15px 10px;
  }

  #copyright {
    font-size: 14px;
  }

  #about {
    font-size: 32px;
    padding: 75px 0;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  #about p {
    margin-bottom: 55px;
  }

  #photos {
    height: 750px;
    font-size: 32px;
    padding: 75px 0;
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .chase-img {
    height: 400px;
  }

  #photos p {
    margin-top: 25px;
  }

  #contact {
    height: 750px;
    font-size: 32px;
    padding: 75px 0;
    margin-bottom: 25px;
  }
}

/* large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hr-divider-3 {
    margin: 20px 0;
  }
}

/* extra large devices (2k displays, 1400px and up) */
@media only screen and (min-width: 1400px) {
}

/* asset size control (1900px and up) */
@media only screen and (min-width: 1900px) {
}

/* extra large devices (4k displays, 2560px and up) */
@media only screen and (min-width: 256px) {
}

/* landscape small */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
}

/* landscape large */
@media only screen and (min-device-width: 668px) and (max-device-width: 992px) and (orientation: landscape) {
}
